.mast{
  background: image-url('mast.png') no-repeat center bottom;
  width:351px;
  height:94px;
  margin: 5px auto;
  position: relative;
}

.mast .site-name{
  font-size: 24px;
  position: absolute;
  bottom: 3px;
  width:351px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.mast .site-name a{
  color: #fff;
  text-decoration: none;
  @include text-shadow(0 1px 0 darken($linkColor, 15%));
}

.mast .site-caption{
  font-size: 12px;
  font-weight: 400;
  color: darken($backgroundColor, 30%);
  text-transform: uppercase;
  position: absolute;
  top:5px;
  width: 351px;
  text-align: center;
  @include text-shadow(0 1px 0 white);
}

.site-nav{
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  height: 32px;
  line-height: 32px;
  margin: 25px 10px 15px;
}

.site-nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.site-nav-link{
  display: inline-block;
  position: relative;
}

.site-nav-link + .site-nav-link {
  padding-left: 24px;
}

.site-nav-link + .site-nav-link:after{
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background-color: lighten($textColor, 15%);
  @include border-radius(50%);
  position: absolute;
  top: 50%;
  left: 6px;
  margin-top: -3px;
}

.site-nav-link a{
  text-transform: uppercase;
  color: $textColor;
  @include text-shadow(0 1px 0 white);
}

.site-nav-link a:hover{
  color: $linkColor;
}