%article.post
  %header
    %h1.post-title= @post.title
  %div.post-content
    != @post.content
  %p.post-tags
    != @post.tags.collect { |tag| link_to tag.name.titleize, tag_posts_url(tag.name) }.join(', ')
  %footer
    = render :partial => 'posts/comments', :locals => {:post => @post, :comments => @post.comments}