// Active Admin CSS Styles
@import "active_admin/mixins";
@import "active_admin/base";
@import 'wysihtml5n-editor';

// To customize the Active Admin interfaces, add your
// styles here:

form fieldset.inputs{
  width:100%;
  overflow: hidden;
}

legend.label{
  border: none;
}

.choices-group .choice{
  display: inline-block;
  margin-right: 5px;
}
